body {
    /* background-color: aqua; */
    background: linear-gradient(90deg, rgb(215, 249, 179) 0%, rgb(143, 239, 250) 100%);
}
.card-text {
    padding-top: 10px;
}

.fotoGatos {
    height: 25rem;
    width: auto;
    /* object-fit: fill; */
}